body {
    margin-left: 19%;
    margin-right: 19%;
    background-color: #FFFFFF;
}

.header {
    display: inline-block;
    margin: 1.5% 0;
    width: 100%;
    vertical-align: text-top;
}

.logo {
    float: left;
}

.right__menu {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14pt;
}

.right__menu.chevron {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    margin-top: 6pt;
    height: 6pt;
    width: 6pt;
}

.right__menu a {
    text-decoration: none;
    color: #000000;
}

.right__menu a:hover {
    color: #F25822;
}

.first-level {
    display: block;
    list-style: none;
    text-decoration: none;
}

.first-level>li {
    position: relative;
    float: left;
    padding: 1.5%;
}

.first-level li:hover>ul {
    display: inline;
}

.first-level li:hover ul {
    display: block;
    position: relative;
}

.second-level {
    padding: 0 0 0 2px;
    border-left: solid #888888 1px;
    background: #FFFFFF;
    display: none;
    position: absolute;
    z-index: 100;
}

.second-level li {
    display: block;
}

.top__content {
    display: inline-block;
    margin: 2.5% 0;
    width: 100%;
    vertical-align: text-top;
}

.top__content img {
    float: right;
    margin-left: 2.5%;
}

.top__content h1 {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    font-style: bold;
    line-height: 120%;
}

.top__content p {
    color: #888888;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    font-style: normal;
    line-height: 140%;
}

.top__content button {
    font-size: 12pt;
    background-color: #FFFFFF;
    color: #888888;
    border: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    width: 140px;
    border-radius: 140px;
}

.top__content button:hover {
    background-color: #F25822;
    color: #FFFFFF;
}

.footer {
    display: inline-block;
    margin: 2.5% 0;
    width: 100%;
    text-align: center;
}

.footer img {
    margin: 0 1.25%;
}